.footer {
  padding: 30px 10px;
  width: 100%;
  margin-top: 100px;
  border-top: 1px solid #8794ba;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social-media{
  padding: 10px;
}

.footer__link {
  padding: 10px;
  color: #8794ba;
  transition: all 0.3s ease 0s;
}
.footer__link:hover {
  color: #fff;
}
.footer__icons {
  fill: #8794ba;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease 0s;
}
.footer__icons--instagram {
  fill: none;
  stroke: #8794ba;
  width: 20px;
  height: 20px;
}
.footer__icons:hover {
  fill: #fff;
}
.footer__icons--instagram:hover {
  fill: none;
  stroke: #fff;
}
@media (min-width: 900px) {
  .footer {
    max-width: 1260px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
