.navbar {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 10px;
}

.navbar__logo {
  width: 184.02px;
  padding-right: 50px;
  cursor: pointer;
}

.navbar__links {
  list-style: none;
  margin-left: 30px;
}
.navbar__links--link {
  display: inline-block;
  padding: 5px 20px;
}
.navbar__links--link a{
  transition: all 0.3s ease 0s;
  color: #8794BA;
  
}
.navbar__links--link a:hover{
    color: #fff;
}

.navbar__buttons {
    padding-left: 20px;
    margin-left: auto;
}
.navbar__buttons--btn{
    padding: 5px 40px;
    border: 1px solid #8794BA;
    border-radius: 68px;
    color: #8794BA;
    background: none;
    transition: all 0.3s ease 0s;
}
.navbar__buttons--btn:hover{
    border: 1px solid #fff;
    color: #fff;
}
.navbar__buttons--link{
    padding: 5px 40px;
    color: #8794BA;
    transition: all 0.3s ease 0s;
}
.navbar__buttons--link:hover{
    color: #fff;
    cursor: pointer;
}
